@model Crud.Models.Usuario

@{
    ViewData["Title"] = "Create new User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Crud C# Entity Framework .NET</h1>
<hr />

<div class="row">
    <div class="col-12">
        <div class="card border">
            <div class="card-header">
                <h3><strong>Create new user</strong></h3>
            </div>
        </div>
        <div class="card-body">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Phone" class="control-label"></label>
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cellphone" class="control-label"></label>
                    <input asp-for="Cellphone" class="form-control" />
                    <span asp-validation-for="Cellphone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success"><i class="fas fa-user-plus"></i>Create User</button>
                </div>
            </form>
        </div>
    </div>
</div>

